name: Build

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  building:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Install node 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Check out Git repository
        uses: actions/checkout@v4
      - name: Yarn install
        run: yarn
      - name: Typescript Check
        run: yarn type-check
      - name: Build
        run: yarn build
